<!doctype html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>General Election Germany 2013</title>
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/bootstrap.min.css">

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

</head>
<body ng-controller="mapCtrl">

<div class="container">

	<div class="page-header">
	  <h1>Die Landkreise Deutschlands haben gewählt!</h1>
	  <p class="lead">Diese interaktive Karte ermöglicht Ihnen die Auswertung der Bundestagswahlergebnisse in Hinblick auf verschiedene Strukturdaten einzelner Landkreise. Klicken Sie einfach auf einen Landkreis Ihrer Wahl.</p>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Landkreis <b>{{county[1]}}</b><span style="font-size:0.6em">{{county[0]}}</span></h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Geographische ID: {{gid}}</li>
						<li class="list-group-item">Bundesland: {{state[1]}}<span style="font-size:0.6em">{{state[0]}}</span></li>
						<li class="list-group-item">Ortsteil : {{district[1]}}<span style="font-size:0.6em">{{district[0]}}</span></li>
						<li class="list-group-item">Gebiet : {{province}}</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Ergebnisse</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="res in results">
							<span style="width:20px; height:20px; background-color:{{res.color}}; color:{{res.color}}; display:inline">.</span> {{res.name}}<br />
							<span style="font-size:0.6em">{{res.votes1}}</span> (<b>{{res.votes1rel}}%</b>) <span style="font-size:0.6em">Erst-</span> <span style="font-size:0.6em">und {{res.votes2}}</span> (<b>{{res.votes2rel}}%</b>)  <span style="font-size:0.6em">Zweitstimmen</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Strukturdaten</h3>
				</div>
				<div class="panel-body">


			       Search: <input ng-model="searchText">
			       
			       <table id="searchTextResults" border="1" style="width:90%">
			         <tr ng-repeat="data in countyData | filter:searchText">
			           <td>{{data.key}}</td>
			           <td>{{data.value}}</td>
			         </tr>
       				</table>

				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Abhängige Wahlkreise</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="c in constituencyIds">
							<span style="float:right; ">{{c.value}}%</span>
							{{c.const.wkr_name}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col-md-8" id="map">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Deutschland</h3>
				</div>
				<div class="panel-body" style="padding:0px">
					<div id="mysvg"></div>
					<span id="impressum">&copy; Martin Liesenberg & Alexander D&uuml;mont - <a href="https://github.com/a-d/spatial.election">GitHub</a></span>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/d3.js"></script>

</body>
</html>