<!doctype html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="utf-8">
<title>General Election Germany 2013</title>
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="mapCtrl">

<div class="container">

       <div ng-init="friends = [{name:'John', phone:123, color:'#ff0'},
                                {name:'Mary', phone:32545, color:'#0f0'},
                                {name:'Mike', phone:234, color:'#0ff'},
                                {name:'Adam', phone:1, color:'#00f'},
                                {name:'Julie', phone:0, color:'#555'},
                                {name:'Juliette', phone:1000, color:'#ddd'}]"></div>
                                <input type="button" value="set" ng-click="friends= []">
       Search: <input ng-model="searchText">
       <table id="searchTextResults">
         <tr><th>Name</th><th>Phone</th></tr>
         <tr ng-repeat="friend in friends | filter:searchText">
           <td>{{friend.name}}</td>
           <td style="background-color:{{friend.color}}">{{friend.phone}}</td>
         </tr>
       </table>
       
	<div class="page-header">
	  <h1>Die Landkreise Deutschlands haben gewählt!</h1>
	  <p class="lead">Diese interaktive Karte ermöglicht Ihnen die Auswertung der Bundestagswahlergebnisse in Hinblick auf verschiedene Strukturdaten einzelner Landkreise.</p>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Landkreis <b>{{county[1]}}</b><span style="font-size:0.6em">{{county[0]}}</span></h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">Geographische ID: {{gid}}</li>
						<li class="list-group-item">Bundesland: {{state[1]}}<span style="font-size:0.6em">{{state[0]}}</span></li>
						<li class="list-group-item">Ortsteil : {{district[1]}}<span style="font-size:0.6em">{{district[0]}}</span></li>
						<li class="list-group-item">Gebiet : {{province}}</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Ergebnisse</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="(key, value) in results">{{key}} : {{value[1]}} Erst- und {{value[2]}} Zweitstimmen
							<span style="width:20px; height:20px; background-coor:; color:; display:block"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Abhängige Wahlkreise</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="(key, value) in constituencyIds">{{key}} : {{value*100}}%</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Deutschland</h3>
				</div>
				<div class="panel-body" style="padding:0px">
					<div id="mysvg"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/d3.js"></script>

</body>
</html>