<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
	<meta charset="utf-8">
	<title>My AngularJS App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	</head>
	<body ng-controller="mainCtrl">
	
		<button ng-click="click()">Test</button>
		<button ng-click="count = count + 1" ng-init="count=0">
			Increment</button>
	
		count: {{count}}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">Resize the page or change
				the numbers to see the d3 re-render!</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3" ng-controller="demoCtrl1">
				<span>{{title}}</span>
				<d3-bars data="d3Data" label="name" on-click="d3OnClick(item)"></d3-bars>
				<br> <br> 
				<span>First Item</span> <input type="text"
					ng-model="d3Data[0].score"></input> <br> <span>Second
					Item</span> <input type="text" ng-model="d3Data[1].score"></input> <br>
				<span>Third Item</span> <input type="text" ng-model="d3Data[2].score"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3" ng-controller="demoCtrl2">
				<span>{{title}}</span>
				<d3-bars data="d3Data" label="title"></d3-bars>
				<br> <br> 
				<span>First Item</span> <input type="text"
					ng-model="d3Data[0].score"></input> <br> <span>Second
					Item</span> <input type="text" ng-model="d3Data[1].score"></input> <br>
				<span>Third Item</span> <input type="text" ng-model="d3Data[2].score"></input>
			</div>
		</div>
		<div>{{data}}</div>
		<div>{{data2}}</div>
	
		<!-- In production use:
		  		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		  		-->
	
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/d3.js"></script>
	</body>
</html>
